:root {
  --primary-color: #0A1128;
  --white-color: #fffdfd;
  --light-gray-color: #EEEEEE;
  --secondary-color: crimson;
  --gap: 3rem;
  --black-color: #000000;
  --blue-color: #00eeff;
  --purple-color: #eedcff;
}